body {
background: url(../images/mc.png) no-repeat center fixed;
-webkit-background-size: cover; 
  background-size: cover;


}

.header {
  padding: 10px;
  text-align: center;
  background: url(../images/header.png) repeat-x fixed top;

}

