body {
  background: url(../images/mc.png) no-repeat center fixed;
  -webkit-background-size: cover; 
  background-size: cover;
  padding: 0;
  margin: 0;

}

.header {
  padding: 10px;
  text-align: center;
  background: url(../images/header.png) repeat-x top;
  
}

#body {
   padding: 10%;
   margin-left: auto;
   margin-right: auto;
   width: 600px;
   background-color: rgb(255, 255, 255);
   opacity: 0.8;
   border-radius: 20px;
   text-align: left justify top;
   
}

