body {
  background: url(../images/mc.png) no-repeat center fixed;
  -webkit-background-size: cover; 
  background-size: cover;
  padding: 0;
  margin: 0;

}

.header {
  padding: 10px;
  text-align: center;
  background: url(../images/header.png) repeat-x top;
  
}

#body {
   padding: 10%;
   margin-left: auto;
   margin-right: auto;
   width: 600px;
   background-color: white;
   opacity: 0.8;
   border-radius: 20px;
   text-align: left justify top;
   margin-bottom: 100px;
   
}

#livre {
  float: left;
  position: absolute;
  left: 550px;
  top: 870px;
}

#potion {
  float: right;
  position: absolute;
  right: 550px;
  top: 840px;
}
