body {
  background: url(../images/mc.png) no-repeat center fixed;
  -webkit-background-size: cover; 
  background-size: cover;
  margin: 0%;
  cursor: url('sword.cur'), pointer;
}

img{
  cursor: url('pickaxe.cur'), pointer;
}

.baretop{
  background-image: url(../images/blocterre.jpg);
  padding: top;
  width : 100%;
  height : 150px;
}

#h{
  margin-top: 1.5%;
  width: 100px;
  height :100px;
}

#hi{
  margin-top: 1.5%;
  width: 100px;
  height :100px;
  padding-left: 50px; 
}

#p{
  width: 100px;
  height : 100px;
}

#e {
  padding-bottom: 120px;
  font-family: 'Noto Sans';
  padding-left: 180px;
}

#r{
  background-repeat: repeat;

}

#background{
  background-image: url(../images/roche.png);
  width: 200px;
  height: 5300px;
  float: left;
}

#backgrounde{
  background-image: url(../images/roche.png);
  width: 200px;
  height: 1400px;
  float: right;
}

#backgroundee{
  background-image: url(../images/roche.png);
  width: 200px;
  height: 1400px;
  float: left;
}

.ep{
  padding-top: 2625px;
  padding-left: 20px;
  width: 150px;
  height: 150px;
  
}
.ept{
  font-size: 25px;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: white;
  opacity: 0.8;
  border-radius: 20px;
  text-align: center;
  
}
#le{
  font-size: 25px;
  padding: 3.5%;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background-color: rgba(50, 143, 146, 0.836);
  border-radius: 20px;
  text-align: left justify top;
  
}
#lee{
  font-size: 25px;
  padding: 3.5%;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background-color: rgba(144, 97, 199, 0.521);
  border-radius: 20px;
  text-align: left justify top;
  
}

.px{
  width: 150px;
  height: 150px; 
  padding-left: 20px;
}
#titre{
  text-align: center;
}

a:link{
  cursor:  pointer;
}
.tt{
  text-align: center;
}
#bo::selection {
  background-color: lightgreen;
}
.ten{
  width: 150px;
  height: 150px; 
  padding-left: 20px;
}
.en3{
  text-align: center;
}

#eni{
  opacity: 100%;
  text-align: center;
}
.imgte{
  width: 499px;
  height: 390px; 
  opacity: 100%;
}

