body {
  background: url(../images/mc.png) no-repeat center fixed;
  -webkit-background-size: cover; 
  background-size: cover;
  margin: 0%;
}

.baretop{
  background-image: url(../images/blocterre.jpg);
  padding: top;
  width : 1680px;
  height : 150px;
}

#h{
  margin-top: 1.5%;
  width: 100px;
  height :100px;
}

#p{
  width: 100px;
  height : 100px;
}

#e {
  padding-left: 210px;
}

#r{
  background-repeat: repeat;

}

#background{
  background-image: url(../images/roche.png);
  width: 200px;
  height: 2000px;
  float: left;
}
.ep{
  padding-top: 10px;
  padding-left: 20px;
  width: 150px;
  height: 150px; 
}
.ept{
  font-size: 25px;
  padding: 4.5%;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: white;
  opacity: 0.8;
  border-radius: 20px;
  text-align: left justify top;
}