body {

    background: url(../images/mc.png) no-repeat center fixed;
    -webkit-background-size: cover; 
      background-size: cover;
}
p {
  font-family: 'Noto Sans';

}

li {
font-family: 'Noto Sans';

}
