body {
  background: url(../images/mc.png) no-repeat center fixed;
  -webkit-background-size: cover; 
  background-size: cover;
  margin: 0%;
  cursor: url('sword.cur'), pointer;
}

.baretop{
  background-image: url(../images/blocterre.jpg);
  padding: top;
  width : 1680px;
  height : 150px;
}

#a{
  margin-top: 1.5%;
  width: 100px;
  height :100px;
}

#e{
  width: 90px;
  height : 90px;
}

#p {
  padding-left: 375px;
}

#background{
  background-image: url(../images/roche.png);
  width: 200px;
  height: 2000px;
  float: left;
}
.ep{
  padding-top: 10px;
  padding-left: 20px;
  width: 150px;
  height: 150px;
}

#body {
  margin-top: 100px;
  padding: 7.5%;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: white;
  opacity: 0.9;
  border-radius: 20px;
  text-align: center justify top;
  
}

p {
  font-family: 'Noto Sans';

}

li {
font-family: 'Noto Sans';

}

img{
  cursor: url('pickaxe.cur'), pointer;
}
a:link{
  cursor:  pointer;
}

.px{
  width: 150px;
  height: 150px; 
  padding-left: 20px;
}
.popo{
padding-top: 100px;
  padding-left: 20px;
  width: 150px;
  height: 150px; 
}
